@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.carrousel-container {
  max-width: 100%;
  margin: auto;
}


.custom-fast-modal .modal-dialog{
  max-width: 400px !important;
  max-height: 350px !important;
}

.modal-header h4{
  width: 100%;
  text-align: center;
  font-family: "Poppins";
  color: #3d1df3;
}



.img-fast-carrousel{
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .custom-fast-modal .modal-dialog {
    max-width: 90% !important; 
    max-height: 90% !important; 
    transform: rotate(90deg) !important; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 10% auto;
    
  }
  
  .modal-content {
    transform: rotate(-90deg);
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
  }
  
  .modal-body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap;
  }
}