.carrousel-container {
  max-width: 100%;
  margin: auto;
}

.custom-modal .modal-dialog {
  min-width: 800px !important;
  min-height: 650px !important;
}

.img-carrousel {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .custom-modal .modal-dialog {
    min-width: 550px !important; /* Cambia el ancho mínimo */
    min-height: 650px !important; /* Cambia la altura mínima */
    transform: rotate(90deg); /* Solo rotación */
    transform-origin: left top;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 120% auto 0;
  }
  
  .modal-content {
    transform: rotate(-90deg);
    transform-origin: left top;
    height: 100% !important;
    width: auto !important;
    overflow: hidden;
  }
  
  .modal-body {
    overflow-x: auto;
    overflow-y: hidden;
    /* padding: 15px; */
    margin: 0 auto;
    white-space: nowrap;
  }

}
