.carrousel-container {
  max-width: 100%;
  margin: auto;
}


.custom-modal .modal-dialog{
  max-width: 800px !important;
  max-height: 450px !important;
}


.img-carrousel{
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .custom-modal .modal-dialog {
    min-width: 90% !important; 
    min-height: 90% !important; 
    /* transform: rotate(90deg) !important;  */
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 5% -20%;
    
  }
  
  .modal-content {
    /* transform: rotate(-90deg); */
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
  }
  
  .modal-body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap;
  }
}
